
<div class= "add_comment">


<%= form_with(model: @comment, url: user_post_comments_path(@post),class: "comment-input", local: true) do |form| %>
<h2>Add a Comment</h2>
  <div class='comment-input'>
    <%= form.label :text %>
    <%= form.text_area :text, placeholder: 'Enter your comment', class: 'comment-area' %>

    <%= form.submit 'Add Comment', class: 'comment-btn' %>
  </div>
<% end %>
</div>
