
<h2>Add a Comment</h2>

<%= form_with(model: @comment, url: user_post_comments_path(@post), local: true) do |form| %>

  <div class='comment-input'>
    <%= form.label :text %>
    <%= form.text_area :text, placeholder: 'Enter your comment', class: 'comment-area' %>

    <%= form.submit 'Add Comment', class: 'comment-btn' %>
  </div>
<% end %>