<% @users.each do |user| %>
    <ul class = "users_list">
      <li><img src=<%= user.photo %>></li>
      <div class="user_details"> 
        <li><%= user.name %></li>
        <li>Number of posts <%= user.posts_counter %></li>
      </div>
    </ul>
  <% end %>