
    <ul class = "users_list">
      <li><img src=<%= user.photo %>></li>
      <div class="user_details" > 
        <li><%= link_to(user.name, user_path(user)) %></li>
        <li>Number of posts <%= user.posts_counter %></li>
      </div>
    </ul>
