  <%= render "shared/user", user: @user %>
    
    <% if @user.posts.empty? %>
        <p class="not-available">No post available</p>
    <% end %>
    <% @user.posts.each do |post| %>
        <%= render "shared/post", post: post %>
        <%= render "shared/comment", comments: post.comments.last(5), current_user: @current_user%>
    <% end %>

    <button class="link-btn" type="button">Pagination</button>

</section>